body{
	background-color: #1a3365;
}

h1{
	text-align: center;
	color: white;
}

#container{
	width: 50%;
	margin: 0 auto;
	border: 1px solid black;
	background-color: #0066cc;	
}

#form1{
	margin: 2em 3em;
}

.form-input{
	width: 100%;
	margin: 1em 0px;
}

.inp{
	width: inherit;
	height: 40px;
	box-sizing: border-box;
	padding-left: 10px;
}

.cstm{
	color: white;
	width: inherit;
	padding-left: 10px;
}

#submit{
	background-color: red;
	color: white;
}

.error{
	color: red;
	margin: 0px;
	padding: 10px 0px 0px 10px;
}